{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TaskAndTimes - {{ title }}</title>
    <link rel="stylesheet" href="{% static 'Tasks/css/styles.css' %}">
    <link rel="icon" href="{% static 'Tasks/images/main.ico' %}" type="image/x-icon">
</head>
<body class="body">
<header class="header">
    <div class="header__content">
        <a href="{% url 'home' %}">
            <img class="header__logo" src="{% static 'Tasks/images/logo.png' %}" alt="TaskAndTimes Logo">
        </a>
        <h1 class="header__title">TaskAndTimes</h1>
    </div>
</header>
<main class="main main--centered">
{% block content %}
{% endblock %}
</main>
<footer class="footer">
    <p class="footer__text">© 2024 TaskAndTimes. Автор: Арсений Данов</p>
</footer>
</body>
</html>